# Dependências do Node.js
/node_modules
/package-lock.json
/npm-debug.log
/yarn-error.log
/dist
/build

# Arquivos de configuração de ambiente
.env

# Diretórios de logs
/log
/logs
*.log

# Diretórios de cache
/.cache
/.nuxt

# Diretórios de IDE/Editor
.idea
.vscode
.DS_Store

# Diretórios temporários
/tmp
